@{
    ViewBag.Title = "Giới thiệu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cửa hàng DienthoaiApple là nơi bạn có thể mua các sản phẩm điện thoại di động và phụ kiện đi kèm. Các cửa hàng này thường cung cấp một loạt các thương hiệu điện thoại, từ các thương hiệu phổ biến như Apple, Samsung, Huawei đến các thương hiệu khác như Xiaomi, Oppo, Realme và nhiều thương hiệu khác.

    Ngoài ra, các cửa hàng bán điện thoại cũng cung cấp dịch vụ sửa chữa và bảo hành cho các sản phẩm điện thoại. Các nhân viên tại cửa hàng sẽ giúp bạn lựa chọn sản phẩm phù hợp với nhu cầu và ngân sách của bạn, cũng như giải đáp các thắc mắc về sản phẩm.

    Các cửa hàng bán điện thoại thường có nhiều chi nhánh ở nhiều địa điểm khác nhau, để bạn dễ dàng truy cập và mua sản phẩm. Ngoài ra, một số cửa hàng còn có các chương trình khuyến mãi và giảm giá đặc biệt để thu hút khách hàng.
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>